@font-face{font-family:xonic-icons;src:url(../icons/xonic-icons.eot?17258899);src:url(../icons/xonic-icons.eot?17258899#iefix) format('embedded-opentype'),url(../icons/xonic-icons.woff2?17258899) format('woff2'),url(../icons/xonic-icons.woff?17258899) format('woff'),url(../icons/xonic-icons.ttf?17258899) format('truetype'),url(../icons/xonic-icons.svg?17258899#xonic-icons) format('svg');font-weight:400;font-style:normal}
[class*=" icon-"]:before,[class^=icon-]:before{font-family:xonic-icons;font-style:normal;font-weight:400;speak:never;display:inline-block;text-decoration:inherit;width:1em;margin-right:.2em;text-align:center;font-variant:normal;text-transform:none;line-height:1em;margin-left:.2em;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.icon-project:before{content:'\e800'}
.icon-xon:before{content:'\e801'}
.icon-xonic:before{content:'\e802'}
.icon-xonar:before{content:'\e803'}
.icon-cog:before{content:'\e804'}
.icon-calendar:before{content:'\e805'}
.icon-user:before{content:'\e806'}
.icon-users:before{content:'\e807'}
.icon-th-large:before{content:'\e808'}
.icon-plus:before{content:'\e809'}
.icon-minus:before{content:'\e80a'}
.icon-link:before{content:'\e80b'}
.icon-lock:before{content:'\e80c'}
.icon-lock-open:before{content:'\e80d'}
.icon-eye:before{content:'\e80e'}
.icon-left-open:before{content:'\e80f'}
.icon-right-open:before{content:'\e810'}
.icon-up-open:before{content:'\e811'}
.icon-down-open:before{content:'\e812'}
.icon-wallet:before{content:'\e813'}
.icon-xrp-xrp-logo:before{content:'\e814'}
.icon-ripple:before{content:'\e815'}
.icon-link-ext:before{content:'\f08e'}
.icon-twitter:before{content:'\f099'}
.icon-github-circled:before{content:'\f09b'}
.icon-blank:before{content:'\f0c8'}
.icon-menu:before{content:'\f0c9'}
.icon-bell-alt:before{content:'\f0f3'}
.icon-doc-text:before{content:'\f0f6'}
.icon-circle:before{content:'\f111'}
.icon-github:before{content:'\f113'}
.icon-direction:before{content:'\f124'}
.icon-help:before{content:'\f128'}
.icon-info:before{content:'\f129'}
.icon-attention-alt:before{content:'\f12a'}
.icon-ellipsis:before{content:'\f141'}
.icon-ellipsis-vert:before{content:'\f142'}
.icon-euro:before{content:'\f153'}
.icon-pound:before{content:'\f154'}
.icon-dollar:before{content:'\f155'}
.icon-rupee:before{content:'\f156'}
.icon-yen:before{content:'\f157'}
.icon-rouble:before{content:'\f158'}
.icon-try:before{content:'\f195'}
.icon-bank:before{content:'\f19c'}
.icon-share:before{content:'\f1e0'}
.icon-bell-off:before{content:'\f1f6'}
.icon-shekel:before{content:'\f20b'}
.icon-user-plus:before{content:'\f234'}
.icon-user-times:before{content:'\f235'}
.icon-hourglass:before{content:'\f254'}
.icon-hand-pointer-o:before{content:'\f25a'}